@import "bootstrap";

body{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.info{
	font-size: 12px;
	color: #666666;
	margin-bottom:40px;
}

h4{
	line-height: 9px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.link-to-new-page, a:visited, .link-to-new-page:visited{
	font-size: 10px;
	font-weight:bold;
	color: rgba(150, 150, 150, 0.88);
}

.link-to-new-page:hover{
	background:#FFF;
	color:#999999;
}

.link-gen-page{
  color: #008dfe;
  font-weight: normal;
  &:visited, &:after{
    color: #1d1d1d;
    font-weight: normal;
  }
  &:hover{
    color: #fff;
  }
}

ul{
	list-style: circle;
}

.textarea{
	height: 200px;
	width: 400px;
}

.li-button-to-new-page{
	list-style: none;
	margin-left:20px;
}

.users-table {
	tbody tr td, thead tr th {
		border-right: 1px solid #b2b2b2;
		border-bottom: 1px solid #b2b2b2;
	}
}

.find-field{
	display:block;
}